<%- if @post.new? %>
  <form method="post" id="post-form" action="<%= admin_posts_path %>">
    <%== csrf_tag(admin_posts_path) %>
<% else %>
    <form method="post" id="post-form" action="<%= admin_update_post_path(@post) %>">
      <%== csrf_tag(admin_update_post_path(@post)) %>
<% end %>
<input id="post_id" name="post[author_id]" type="hidden" value="<%= @post.author_id %>">

<div class="field">
  <label class="label">Status</label>
  <div class="select">
    <select id="post_status" name="post[status]">
      <%- Post::STATUSES.each do |status| %>
        <%- if @post.status == status %>
          <option value="<%= status %>" selected><%= status.capitalize %></option>
        <%- else %>
          <option value="<%= status %>"><%= status.capitalize %></option>
        <%- end %>
      <% end %>
    </select>
  </div>

  <div class="field">
    <label class="label label-before" for="post_title">Title</label>
    <input class="input" id="post_title" name="post[title]" value="<%= @post.title %>" required="required" type="text">
  </div>

  <div class="field">
    <label class="label label-before" for="post_body">Text</label>
    <textarea class="textarea" id="post_body" name="post[body]" required="required" rows="10"><%== @post.body %></textarea>
  </div>

  <div class="control">
    <input class="button is-primary" type="submit" value="Submit">
  </div>
    </form>
