<h2>Preview</h2>
<div class="post">
    <%== render("admin/posts/_form") %>
</div>

<div class="comments">
    <%- unless @post.comments.empty? %>
        <h3 class="title is-3">Comments</h3>
    <% end %>
    <%- @post.comments.each do |comment| %>
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong><%= comment.name %> (<%= comment.email %>)</strong>
                            <small><%= comment.created_at.strftime("%D %T") %></small>
                        </p>
                        <p><%= comment.body %></p>
                    </div>

                    <form method="post" id="delete-comment" action="<%= admin_delete_comment_path(comment) %>">
                        <%== csrf_tag(admin_delete_comment_path(comment)) %>
                        <input class="button is-primary" type="submit" value="Delete comment">
                    </form>
                </div>
            </article>
        </div>
    <% end %>
</div>
