<div class="posts">
  <a class="button is-primary" href="<%== admin_new_post_path %>">New</a>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Slug</th>
        <th>Status</th>
        <th>Created at</th>
        <th>Comments</th>
      </tr>
    </thead>

    <tbody>
      <%- @result.records.each do |post| %>
        <tr>
          <td class="post-title"><a href=<%= admin_edit_post_path(post) %>><%== post.title %></a></td>
          <td><%== post.slug %></td>
          <td><%== post.status %></td>
          <td><%== post.created_at.strftime("%D %T") %></td>
          <td><%== post.comment_count %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>

  <p class="has-text-centered">
    <%- if @result.total_pages != 1 %>
      <%- if @result.page != 1 %>
        <a href="<%= admin_posts_previous_page_path(@result.page) %>">Previous</a> |
      <%- end %>
      Page <%= @result.page %> of <%= @result.total_pages %>
      <%- if @result.page < @result.total_pages %>
        | <a href="<%= admin_posts_next_page_path(@result.page) %>">Next</a>
      <%- end %>
    <%- end %>
  </p>
</div>
