<div class="posts content">
  <%- @result.records.each do |post| %>
    <%== render("shared/_post", locals: { post: post }) %>
  <%- end %>
  <p class="has-text-centered">
    <%- if @result.total_pages != 1 %>
      <%- if @result.page != 1 %>
        <a href="<%= posts_previous_page_path(@result.page) %>">Previous</a> |
      <%- end %>
      Page <%= @result.page %> of <%= @result.total_pages %>
      <%- if @result.page < @result.total_pages %>
        | <a href="<%= posts_next_page_path(@result.page) %>">Next</a>
      <%- end %>
    <%- end %>
  </p>
</div>
