<article class="section post content">
    <div class="has-text-centered">
        <h2 class="post-title title is-2"><a href="<%= post_path(@post) %>"><%= @post.title %></a></h2>
        <p><%= @post.created_at.strftime("%F") %></p>
    </div>

    <div class="post-content">
        <%== Asciidoctor.convert(@post.body) %>
    </div>
</article>

<div class="box">
    <section class="section" id="comment-form-box">
        <h4 class="title is-4">Contact me about this post</h4>
        <form method="post" id="comment-form" action="<%= create_comment_for_post_path(@post) %>">
            <%== csrf_tag(create_comment_for_post_path(@post)) %>
            <input id="comment_post_id" name="comment[post_id]" type="hidden" value="<%== @comment.post_id %>">
            <div class="field">
                <label class="label label-before" for="comment_name">Name</label>
                <input class="input" id="comment_name" name="comment[name]" placeholder="John"
                       required="required" type="text" value="<%== @comment.name %>">
            </div>
            <div class="field">
                <label class="label label-before" for="comment_email">Email</label>
                <input class="input" id="comment_email" name="comment[email]" placeholder="john@example.com"
                       required="required" type="email" value="<%== @comment[:email] %>">
                <p class="help">I collect the emails so that I can answer your remarks.</p>
            </div>
            <div class="field">
                <label class="label label-before" for="comment_body">Text</label>
                <textarea class="textarea" id="comment_body"
                          name="comment[body]" placeholder="Comment text"
                          required="required"
                          rows="10"></textarea>
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Submit">
            </div>
        </form>
    </section>
</div>

<div class="has-text-centered">
    <a href="<%= posts_path %>">Index</a>
</div>
