<h2>422: Unprocessable Entity!</h2>
<p>Something went wrong when we tried to save your record.</p>

<%- if @errors %>
  <ol>
    <%- @errors.each do |key, value| %>
      <li><%= key.to_s %> - <%= value.join(", ") %></li>
    <%- end %>
  </ol>
<%- end %>
