<article class="section page content">
  <div class="has-text-centered">
    <h2 class="page-title title is-2"><%= @page.title %></h2>
    <p><%= @page.created_at.strftime("%F") %></p>
  </div>

  <div class="page-content">
    <%== Asciidoctor.convert(@page.body) %>
  </div>
</article>

<div class="has-text-centered">
  <a href="<%= posts_path %>">Index</a>
</div>
