@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$white: #f5f4f7;
$light: #e1e1e2;
$dark: #4a464d;
$black: #2e2a31;
$red: #d8137f;
$amber: #d65407;
$orange: #dc8a0e;
$green: #17ad98;
$purple: #796af5;
$violet: #bb60ea;
$pink: #c720ca;
$granata: rgba(112, 16, 48, 1);

$lighterBlue: #65bbe5;
$lightBlue: #3ba9df;
$blue: #149bda;
$darkBlue: #058ccd;
$darkerBlue: #04608c;

$base02: #c4c3c5;
$base03: #a7a5a8;
$base04: #89878b;
$base05: #6c696e;

// Use blue and granata as the primary colors
$primary: $granata;
$link: $granata;
$danger: $amber;
$success: $green;
$code: $darkerBlue;

// Set font settings
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/fonts/source-sans-pro-latin-400.woff2") format("woff2"),
    url("/assets/fonts/source-sans-pro-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("/assets/fonts/source-sans-pro-latin-600.woff2") format("woff2"),
    url("/assets/fonts/source-sans-pro-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/inconsolata-latin-400.woff2") format("woff2"),
    url("/assets/fonts/inconsolata-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Inconsolata Bold";
  src: url("/assets/fonts/inconsolata-latin-700.woff2") format("woff2"),
    url("/assets/fonts/inconsolata-latin-700.woff") format("woff");
}

$default-font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue",
  "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell",
  "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic",
  "Liberation Sans", sans-serif;

$monospace-font-family: "Inconsolata", "DejaVu Sans Mono", Menlo, Consolas,
  "Liberation Mono", Monaco, "Lucida Console", monospace;

$family-code: $monospace-font-family;
$family-sans-serif: $default-font-family;
$section-padding: 3rem 1.6rem;
$body-font-size: 1.2em;
$pre-font-size: 0.85em;

// 6. Import the rest of Bulma
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/highlight.js/styles/mono-blue";

@import "custom";
