<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="<%== Features.google_site_verification %>" />

        <%== WebpackAssets.assets_tag('css', :css) %>

        <link rel="icon" type="image/png" size="16x16" href="/assets/img/favicon/favicon-16x16.png">
        <link rel="icon" type="image/png" size="32x32" href="/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" size="96x96" href="/assets/img/favicon/favicon-96x96.png">
        <% if @page_title %>
            <title><%= @page_title %> - icejam.ee</title>
        <% else %>
            <title>icejam.ee</title>
        <% end %>
    </head>
    <body>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><b>icejam.ee</b></a>
            </div>
            <div class="navbar-menu">
                <!-- navbar items, navbar burger... -->
                <div class="navbar-start">
                    <a href="/privacy-policy" class="navbar-item">Privacy Policy</a>
                </div>
                <div class="navbar-end">
                    <a href="/about-me" class="navbar-item">About Me</a>
		    <% if @user_id %>
			<a href="/admin" class="navbar-item"><strong>Admin Panel</strong></a>
		    <% end %>
                </div>

            </div>
        </nav>

        <section class="section">

            <div class="container is-fluid" id="content">
                <div class="columns">
                    <div class="column is-three-fifths-desktop is-offset-one-fifth">
                        <% if flash["notice"] %>
                            <div class="notification is-success">
                                <button class="delete"></button>
                                <%= flash["notice"] %>
                            </div>
                        <% end %>
                        <% if flash["error"] %>
                            <div class="notification is-danger">
                                <button class="delete"></button>
                                <%= flash["error"] %>
                            </div>
                        <% end %>

                        <%== yield %>
                    </div>
                </div>
            </div>
        </section>

        <%== WebpackAssets.assets_tag('highlighter', :js) %>
        <%== WebpackAssets.assets_tag('app', :js) %>
    </body>
</html>
