<section class="section">
  <div class="has-text-centered">
    <h2 class="page-title title is-2"><a href="<%= page_path(page) %>"><%= page.title %></a></h2>
    <p><%= page.created_at.strftime("%F") %></p>
  </div>

  <div class="page-content">
    <%== Asciidoctor.convert(page.body) %>
  </div>
</section>
