<section class="section">
    <div class="has-text-centered">
        <h2 class="post-title title is-2"><a href="<%= post_path(post) %>"><%= post.title %></a></h2>
        <p><%= post.created_at.strftime("%F") %></p>
    </div>

    <div class="post-content">
        <%== Asciidoctor.convert(post.body) %>
    </div>

    <div class="comments">
        <%- unless @post.comments.empty? %>
            <h3 class="title is-3">Comments</h3>
        <% end %>
        <%- @post.comments.each do |comment| %>
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong><%= comment.name %> (<%= comment.email %>)</strong>
                                <small><%= comment.created_at.strftime("%D %T") %></small>
                            </p>
                            <p><%= comment.body %></p>

                            <form method="post" id="delete-comment" action="<%= admin_delete_comment_path(comment) %>">
                                <%== csrf_tag(admin_delete_comment_path(comment)) %>
                                <input class="button is-primary" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        <% end %>
    </div>
</section>
