<section class="section">
  <div class="has-text-centered">
    <h2 class="post-title title is-2"><a href="<%= post_path(post) %>"><%= post.title %></a></h2>
    <p><%= post.created_at.strftime("%F") %></p>
  </div>

  <div class="post-content">
    <%== Asciidoctor.convert(post.body) %>
  </div>

  <div class="has-text-centered">
    <h3 class="title is-5"><a href="<%= post_path(post) %>">Contact me about this post</a></h3>
  </div>
</section>
