<%- if @page.new? %>
  <form method="post" id="page-form" action="<%= admin_pages_path %>">
    <%== csrf_tag(admin_pages_path) %>
<% else %>
    <form method="post" id="page-form" action="<%= admin_update_page_path(@page) %>">
      <%== csrf_tag(admin_update_page_path(@page)) %>
<% end %>
<input id="page_id" name="page[author_id]" type="hidden" value="<%= @page.author_id %>">

<div class="field">
  <label class="label">Status</label>
  <div class="select">
    <select id="page_status" name="page[status]">
      <%- Page::STATUSES.each do |status| %>
        <%- if @page.status == status %>
          <option value="<%= status %>" selected><%= status.capitalize %></option>
        <%- else %>
          <option value="<%= status %>"><%= status.capitalize %></option>
        <%- end %>
      <% end %>
    </select>
  </div>

  <div class="field">
    <label class="label label-before" for="page_title">Title</label>
    <input class="input" id="page_title" name="page[title]" value="<%= @page.title %>" required="required" type="text">
  </div>

  <div class="field">
      <label class="label label-before" for="page_body">Text</label>
      <textarea class="textarea" id="page_body" name="page[body]" required="required" rows="10"><%== @page.body %></textarea>
    </div>

    <div class="control">
      <input class="button is-primary" type="submit" value="Submit">
    </div>
</form>
