<div class="pages">
  <a class="button is-primary" href="<%== admin_new_page_path %>">New</a>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Slug</th>
        <th>Status</th>
        <th>Created at</th>
      </tr>
    </thead>

    <tbody>
      <%- @pages.each do |page| %>
        <tr>
          <td class="page-title"><a href=<%= admin_edit_page_path(page) %>><%== page.title %></a></td>
          <td><%== page.slug %></td>
          <td><%== page.status %></td>
          <td><%== page.created_at.strftime("%D %T") %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</div>
